<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous">
    </script>
  <!--  <style>
        .form-groupx{
            position:fixed;
            top: 60%;
            left: 60%;
            margin-top: -12em; /*set to a negative number 1/2 of your height*/
            margin-left: -16em;/*set to a negative number 1/2 of your width*/
        }
    </style>-->
</head>

<body>
    <header>
        <br>
        <br>
        <br>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            {{#if user}}
                <a class="navbar-brand" href="\">Hello,{{user.firstname}} {{user.lastname}}</a>
            {{else}}
                <a class="navbar-brand" href="\">ViewShare</a>
            {{/if}}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="\">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="\places">Countries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="\upload"><span class="sr-only">(current)</span>Upload</a>
                    </li>
                    {{#if user}}
                        <li class="nav-item">
                            <a class="nav-link " href="\user">My Images</a>
                        </li>
                    {{/if}}
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    {{#if user}}
                        <a class="btn btn-outline-success my-2 my-sm-0" href="\Logout"> Logout </a>
                    {{else}}
                        <a class="btn btn-outline-success my-2 ml-sm-2 my-sm-0" href="\Login"> Login </a>
                        <a class="btn btn-outline-success my-2 ml-sm-2 my-sm-0" href="\register"> Sign Up </a>
                    {{/if}}
                    <input class="form-control ml-sm-2 mr-sm-2" type="text" placeholder="Search your place" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    {{#if success_msg}}
        <div class="notic success"><i class="icon-remove-sign icon-large" ></i>
            <p class="alert alert-success">{{success_msg}}</p>
        </div>
    {{/if}}
    <div style="text-align: center;"><small style="position: center ; color: red">*The file must to be an image</small></div>
    <form method="POST" action="#" enctype="multipart/form-data">
        <!-- COMPONENT START -->
        <div class="form-group">
            <div class="input-group input-file" name="MyImage"style="width: 800px; margin-right: 300px;margin-left: 300px" >
                <input  class="form-control" placeholder='Choose a file...' />
                <span class="input-group-btn">
        		<button class="btn btn-default btn-success" type="button">Choose</button>
    		</span>
            </div>
        </div>
        <div class="form-groupx" style="text-align: center">
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <button type="reset" class="btn btn-danger" >Reset</button>
        </div>
    </form>
<script>
    function bs_input_file() {
        $(".input-file").before(
                function() {
                    if ( ! $(this).prev().hasClass('input-ghost') ) {
                        var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name",$(this).attr("name"));
                        element.change(function(){
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-success").click(function(){

                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function(){
                            element.val(null);

                        });
                        return element;
                    }
                }
        );
    }
    $(function() {
        bs_input_file();
    });
</script>

</body>
<!-- Bootstrap core JavaScript
================================================== -->

<script src="javascripts/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->

</body>
</html>